.cloud {
  display: flex;
  position: relative;
  top: 200px;
  left: 150px;
  width: 74px;
  .cloud-us_w__image {
    position: absolute;
    top: 0px;
    left: -30px;
  }
  .cloud-us_e__image {
    position: absolute;
    top: -38px;
    left: 149px;
  }
  .cloud-sg__image {
    position: absolute;
    top: 134px;
    left: -66px;
  }
  .cloud-europe__image {
    position: absolute;
    top: -62px;
    left: 4px;
  }
}

.cloud {
  cursor: pointer;
  animation: topdown 1s infinite;
  &:hover {
    animation: stop;
  }
}

@keyframes topdown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes stop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    content: '';
  }
}

.server {
  width: 80px;
  position: absolute;
  animation: appering 2s alternate;
  opacity: 1;
}

@keyframes appering {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.server_blue {
}

.server__europe {
  top: 152px;
  left: 546px;
}
.server__sg {
  top: 332px;
  right: 242px;
}
.server__us_e {
  top: 158px;
  left: 306px;
}
.server__us_w {
  top: 192px;
  left: 106px;
}
