.devices {
  display: flex;
  position: relative;
  width: 64px;
}

.device {
  position: absolute;
  // cursor: pointer;
  animation: appering 1s alternate;
  opacity: 1;
}

@keyframes appering {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.devices__de {
  top: 205px;
  left: 112px;
  .device-phone {
    position: absolute;
    top: -30px;
    left: 98px;
  }
  .device-display {
    top: -60px;
    left: 186px;
  }
}
.devices__au {
  top: 80px;
  left: 341px;
  .device-phone {
    position: absolute;
    top: 8px;
    left: 51px;
  }
  .device-display {
    top: -2px;
    left: 96px;
  }
}
.devices__nAm {
  top: 177px;
  left: 166px;
  .device-phone {
    position: absolute;
    top: 30px;
    left: 46px;
  }
  .device-display {
    top: -2px;
    left: 98px;
  }
}

.devices__sAm {
  top: 1px;
  left: 311px;
  .device-phone {
    position: absolute;
    top: 18px;
    left: 60px;
  }
  .device-display {
    top: 47px;
    left: 16px;
  }
}

.devices__asia {
  top: 259px;
  left: 6px;
  .device-phone {
    position: absolute;
    top: -14px;
    left: 111px;
  }
  .device-display {
    top: -88px;
    left: 162px;
  }
}
