.map {
  height: 600px;
  background-image: url('../images/map.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.europe,
.asia,
.northAmerica,
.southAmerica,
.africa,
.australia {
  width: 33.3%;
  height: 60%;
}

.southAmerica,
.australia {
  height: 40%;
  width: 50%;
}
