:root {
  --light-text-color: #ffffff;
  --light-hover-color: #ecebeb;
  --dark--text-color: #000000;
  --accent-primary-color: rgb(212, 20, 67);
  --accent-hover-color: #c7133e;
}

//*---time---*//
// $timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
// $time-main: 250ms;
